# Optional harvest settings.
BGP_HARVEST_COLLECTOR=
BGP_HARVEST_TEMPORARY_DIR=./.bgp_tmp
BGP_HARVEST_BATCH_SIZE=100000
BGP_HARVEST_IP_VERSION=6

# ClickHouse connection settings.
BGP_HARVEST_CLICKHOUSE_HOST=localhost
BGP_HARVEST_CLICKHOUSE_PORT=9000
BGP_HARVEST_CLICKHOUSE_DATABASE=bgp
BGP_HARVEST_CLICKHOUSE_USER=bgp_user
BGP_HARVEST_CLICKHOUSE_PASSWORD=bgp_password

# ROV endpoint and runtime logging.
BGP_HARVEST_ROV_ENDPOINT=http://localhost:8323/validity
BGP_HARVEST_ROV_MAX_WORKERS=10
BGP_HARVEST_ROV_REQUEST_BATCH_SIZE=64
BGP_HARVEST_RUNTIME_LOG_LEVEL=INFO
